{% extends "house/house.html" %}

{% block content2 %}

    <!--pyemoncms-->
    <link href="{{ url_for('static', filename='pyemoncms/js/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='pyemoncms/js/bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='pyemoncms/js/bootstrap-datetimepicker-0.0.11/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='pyemoncms/themes/default/css/emon.css') }}" rel="stylesheet">

    <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='pyemoncms/modules/feed/feed.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='pyemoncms/modules/myelectric/graph.js') }}"></script>

    <!-- defenition of the style/look of the elements on our page (CSS stylesheet) -->
    <style>

      .electric-title {
        font-weight:bold;
        font-size:22px;
        color:#aaa;
        padding-top:20px
      }

      .power-value {
        font-weight:bold;
        font-size:100px;
        color:#0699fa;
        padding-top:45px;
      }

      .kwh-value {
        font-weight:normal;
        font-size:22px;
        color:#0699fa;
        padding-top:45px;
      }

    </style>
                <div id="sub-nav">
                      <ul>
                        <li><a href="{{url_for('pyemon_user')}}">User</a></li>
                        <li><a href="{{url_for('pyemon_myelectric')}}" class="active">My Electric</a></li>
                        <li><a href="{{url_for('pyemon_node')}}">Node</a></li>
                        <li><a href="{{url_for('pyemon_input')}}">Input</a></li>
                        <li><a href="{{url_for('pyemon_vis')}}">Vis</a></li>
                        <li><a href="{{url_for('pyemon_dashboard')}}">Dasboard</a></li>
                        <li class="last"><a href="#">Extras</a></li>
                        <li class="last"><a href="#">&nbsp;</a></li>
                        <li class="last"><a href="#">&nbsp;</a></li>
                        <li class="last"><a href="#">&nbsp;</a></li>
                        <li class="last"><a href="#">&nbsp;</a></li>
                        <li class="last"><a href="#">&nbsp;</a></li>
                        <li class="last"><a href="#">&nbsp;</a></li>
                        <li class="last"><a href="#">&nbsp;</a></li>
                        <li class="last"><a href="#">&nbsp;</a></li>
                        <li class="last"><a href="#">&nbsp;</a></li>
                        <li class="last"><a href="#">&nbsp;</a></li>
                        <li class="last"><a href="#">&nbsp;</a></li>
                        <li class="last"><a href="#">&nbsp;</a></li>
                        <li class="last"><a href="#">&nbsp;</a></li>
                        <li class="last"><a href="#">&nbsp;</a></li>
                        <li class="last"><a href="#">&nbsp;</a></li>
                        <li class="last"><a href="#">&nbsp;</a></li>
                        <li class="last"><a href="#">&nbsp;</a></li>
                        <li class="last"><a href="#">&nbsp;</a></li>
                        <li class="last"><a href="#">&nbsp;</a></li>
                        <li class="last"><a href="#">&nbsp;</a></li>
                        <li class="last"><a href="#">&nbsp;</a></li>
                        <li class="last"><a href="#">&nbsp;</a></li>
                        <li class="last"><a href="#">&nbsp;</a></li>
                        <li class="last"><a href="#">&nbsp;</a></li>
                        <li class="last"><a href="#">&nbsp;</a></li>
                        <li class="last"><a href="#">&nbsp;</a></li>
                        <li class="last"><a href="#">&nbsp;</a></li>
                        <li class="last"><a href="#">&nbsp;</a></li>
                        <li><a href="#">Log Out</a></li>
                        <li class="last"><a href="{{url_for('pyemon_docs')}}">Docs</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>


            <!--==============================content================================-->
            <div id="main">
                <div class="shell">
                  <div id="content" class="left">
                    <div class="box" style="background-color:RGBA(0,0,0,0.25);">
                      <h2 class="title" style="color:white;">My Electric config</h2>
                      <!--<div id="config" style="margin: 0px auto; max-width:320px; display:none">-->

                        <!--div class="electric-title"></div>-->
                        <br><br>
                            <div align="center">
                            <p><b style="color:#0699fa;">Power feed (Watts):</b></p>
                            <select id="powerfeed" style="width:290px;"></select>
                            <br><br>

                            <p><b style="color:#0699fa">Bar graph feed:</b></p>
                            <select id="dailyfeed" style="width:290px"></select>
                            <br><br>

                            <p><b style="color:#0699fa">Bar graph feed type:</b></p>
                            <select id="dailytype" style="width:290px">
                                <option value=0>Watt hours elapsed</option>
                                <option value=1>kWh elapsed</option>
                                <option value=2>kWh per day</option>
                                <option value=3>Power (Watts)</option>

                            </select>
                          </div>
                        <br><br>

                        <button id="configsave" class="btn btn-primary" style="float:right;">Save</button>

                    <!--</div>-->
                  </div>
                  <!--<div class="box" style="background-color:RGBA(0,0,0,0.25);">
                        <div id="powerblock">
                            <div style="height:20px; border-bottom:1px solid #333; padding:8px;">
                                <div style="float:right;">
                                    <!--<span style="color:#fff; margin-right:10px" >Settings</span>-->
                                    <!--<i id="openconfig" class="icon-wrench icon-white" style="cursor:pointer"></i>
                                </div>
                            </div>

                                <div style="width:100%;">
                                    <div class="electric-title">POWER NOW:

                                    </div>
                                    <div class="power-value"><span id="power"></span>W</div>
                                    <div class="kwh-value">USE TODAY: <b><span id="kwhd"></span> kWh</b></div>
                                </div>
                                <br><br>
                                <div id="bound" style="width:100%; height:270px">
                                    <canvas id="myCanvas" ></canvas>
                                </div>
                        </div>
                </div>-->
              </div>

                    <div id="sidebar" class="right">
                    <div style="width:300px;height:70px">
                        <iframe src="http://free.timeanddate.com/clock/i3pk45af/n2342/fn6/fs16/fcfff/tc000/ftb/pa8/tt0/tw1/tm1/th2/ta1/tb4" frameborder="0" width="300" height="58"></iframe>
                        <div class="cl">&nbsp;</div>
                    </div>
                    <div class="box">
                      <h2 class="title" style="color:white">My account</h2>
                      <div class="follow-item">
                        <p><span class="author">Username</span>:</p>
                        <p>{{username}}</p>
                        <a href="#">Switch User</a>
                        <p>&nbsp;</p>
                        <p><span class="author">Email</span>:</p>
                        <p>{{email}}</p>
                        <a href="#">Edit</a>
                        <p>&nbsp;</p>
                        <div id="edit-email-form" class="input-append" style="display:none">
                                <input class="span2" type="text" style="width:150px">
                                <button class="btn" type="button">Save</button>
                        </div>
                        <div id="change-email-error" class="alert alert-error" style="display:none; width:170px"></div>
                        <p><span class="author">Write API Key</span>:</p>
                        <p>{{writeKey}}</p>
                        <a href="#">Generate New Key</a>
                        <p>&nbsp;</p>
                        <p><span class="author">Read API Key</span>:</p>
                        <p>{{readKey}}</p>
                        <a href="#">Generate New Key</a>
                      </div>
                    </div>
{% endblock %}