{% extends "freepbx/freepbx.html" %}

{% block content2 %}

            <script src="{{ url_for('static', filename='freePBX/js/jquery/jquery-ui-1.10.3.custom.js') }}"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=1.4.2"></script>

            <link rel="stylesheet" href="{{ url_for('static', filename='freePBX/css/jquery-ui-1.10.3.custom.min.css') }}" />

            <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
            <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
            <link rel="stylesheet" href="{{ url_for('static', filename='themes/smoothness/jquery-ui.css') }}" />


            <!--==============================content================================-->
            <div id="main">
                <div class="shell">
                  <div id="content" class="left">
                    <!-- This box will be for editing existing custom extensions -->
                    <!--<div class="box" style="background-color:RGBA(0,0,0,0.25);">
                      <div class="follow-item">
                            <p style="color:white;opacity: 0.5;"></p>
                      </div>
                    </div>-->
                    <div class="box" style="background-color:RGBA(0,0,0,0.25);">
                      <h2 class="title" style="color:white;">Add Custom Destination</h2>
                      <div class="follow-item">
                            <p style="color:white;opacity: 0.5;">Custom Destinations allows you to register your custom destinations that point to custom dialplans and will also 'publish' these destinations as available destinations to other modules. This is an advanced feature and should only be used by knowledgeable users. If you are getting warnings or errors in the notification panel about CUSTOM destinations that are correct, you should include them here. The 'Unknown Destinations' chooser will allow you to choose and insert any such destinations that the registry is not aware of into the Custom Destination field. </p>
                      </div>
                    </div>
                  </div>
                  <div id="sidebar" class="right">
                    <div style="width:300px;height:70px">
                        <iframe src="http://free.timeanddate.com/clock/i3pk45af/n2342/fn6/fs16/fcfff/tc000/ftb/pa8/tt0/tw1/tm1/th2/ta1/tb4" frameborder="0" width="300" height="58"></iframe>
                        <div class="cl">&nbsp;</div>
                    </div>
                    <div class="box" style="height:470px">
                      <div style="color:white;padding-top:2px; font-weight:bold;">Custom Destination: </div><br>
                      <textarea id="cust_dest_name" style="width:95%;height:20px;"></textarea>
                      <div style="color:white;float:left; padding-top:2px; font-weight:bold;">Destination Quick Pick: </div><br/><br/>
                      <div class="ui-widget">
                        <select id="combobox" class="ui-combobox" name="dest_quickpik" style="width:100%; margin:0px;">
                            <option value="line_graph">Line Graph</option>
                            <option value="line_graph">Spline Chart</option>
                            <option value="line_graph">Step Chart</option>
                            <option value="line_graph">Area Chart</option>
                            <option value="line_graph">Stacked Area Chart</option>
                            <option value="line_graph">Bar Chart</option>
                            <option value="line_graph">Stacked Bar Chart</option>
                            <option value="line_graph">Scatter Plot</option>
                            <option value="line_graph">Pie Chart</option>
                            <option value="line_graph">Donut Chart</option>
                            <option value="line_graph">Guage Chart</option>
                            <option value="line_graph">Combination Chart</option>
                        </select>
                      </div><br />
                      <!--<div style="clear:both"></div>-->
                      <div style="color:white;padding-top:2px; font-weight:bold;">Description: </div><br>
                      <textarea id="cust_dest_desc" style="width:95%;height:20px;"></textarea>
                      <div style="color:white;padding-top:2px; font-weight:bold;">Notes: </div><br>
                      <textarea id="cust_dest_notes" style="width:95%; height:120px;"></textarea>
                      <input id="submit_extension" type="submit" value="Submit Changes" class="btn btn-info" style="width:40%;float:right"/>

                    </div>
                    <div class="box">
                        <a href="http://www.freepbx.org/" target="_blank">
                        <img border="0" src="{{ url_for('static', filename='freePBX/images/freepbx_small.png') }}" width="100%">
                        </a>
                    </div>
                    <div class="box" style="background:#fff">
                        <a href="http://www.schmoozecom.com/" target="_blank">
                        <img border="0" src="{{ url_for('static', filename='freePBX/images/schmooze-logo.png') }}" width="100%">
                        </a>
                    </div>
                    <div class="box">
                        <p> This software is built from <a href="http://www.freepbx.org/" target="_blank">freePBX</a> but is no way associated with FreePBX or <a href="http://www.schmoozecom.com/" target="_blank">Schmooze Com</a>.</p>
                    </div>

                <style>
                  .ui-autocomplete {
                    max-height: 230px;
                    max-width: 280px;
                    overflow-y: auto;
                    overflow-x: hidden; /* add padding to account for vertical scrollbar */
                    z-index:1000 !important;
                    }
                    .custom-combobox {
                    position: relative;
                    display: inline-block;
                    }
                    .custom-combobox-toggle {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin-left: -1px;
                    padding: 0;
                    /* support: IE7 */
                    *height: 1.7em;
                    *top: 0.1em;
                    }
                    .custom-combobox-input {
                    margin: 0;
                    padding: 0.3em;
                    }
                </style>
                <script>
                    (function( $ ) {
                    $.widget( "custom.combobox", {
                    _create: function() {
                    this.wrapper = $( "<span>" )
                    .addClass( "custom-combobox" )
                    .insertAfter( this.element );
                    this.element.hide();
                    this._createAutocomplete();
                    this._createShowAllButton();
                    },
                    _createAutocomplete: function() {
                    var selected = this.element.children( ":selected" ),
                    value = selected.val() ? selected.text() : "{{ currentStation }}";
                    this.input = $( "<input>" )
                    .appendTo( this.wrapper )
                    .val( value )
                    .attr( "title", "" )
                    .addClass( "custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" )
                    .autocomplete({
                    delay: 0,
                    minLength: 0,
                    source: $.proxy( this, "_source" )
                    })
                    .tooltip({
                    tooltipClass: "ui-state-highlight"
                    });
                    this._on( this.input, {
                    autocompleteselect: function( event, ui ) {
                    ui.item.option.selected = true;
                    this._trigger( "select", event, {
                    item: ui.item.option
                    });
                    },
                    autocompletechange: "_removeIfInvalid"
                    });
                    },
                    _createShowAllButton: function() {
                    var input = this.input,
                    wasOpen = false;
                    $( "<a>" )
                    .attr( "tabIndex", -1 )
                    .attr( "title", "Show All Items" )
                    .tooltip()
                    .appendTo( this.wrapper )
                    .button({
                    icons: {
                    primary: "ui-icon-triangle-1-s"
                    },
                    text: false
                    })
                    .removeClass( "ui-corner-all" )
                    .addClass( "custom-combobox-toggle ui-corner-right" )
                    .mousedown(function() {
                    wasOpen = input.autocomplete( "widget" ).is( ":visible" );
                    })
                    .click(function() {
                    input.focus();
                    // Close if already visible
                    if ( wasOpen ) {
                    return;
                    }
                    // Pass empty string as value to search for, displaying all results
                    input.autocomplete( "search", "" );
                    });
                    },
                    _source: function( request, response ) {
                    var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
                    response( this.element.children( "option" ).map(function() {
                    var text = $( this ).text();
                    if ( this.value && ( !request.term || matcher.test(text) ) )
                    return {
                    label: text,
                    value: text,
                    option: this
                    };
                    }) );
                    },
                    _removeIfInvalid: function( event, ui ) {
                    // Selected an item, nothing to do
                    if ( ui.item ) {
                    return;
                    }
                    // Search for a match (case-insensitive)
                    var value = this.input.val(),
                    valueLowerCase = value.toLowerCase(),
                    valid = false;
                    this.element.children( "option" ).each(function() {
                    if ( $( this ).text().toLowerCase() === valueLowerCase ) {
                    this.selected = valid = true;
                        return false;
                    }
                    });
                    // Found a match, nothing to do
                    if ( valid ) {
                    return;
                    }
                    // Remove invalid value
                    this.input
                    .val( "" )
                    .attr( "title", value + " didn't match any item" )
                    .tooltip( "open" );
                    this.element.val( "" );
                    this._delay(function() {
                    this.input.tooltip( "close" ).attr( "title", "" );
                    }, 2500 );
                    this.input.data( "ui-autocomplete" ).term = "";
                    },
                    _destroy: function() {
                    this.wrapper.remove();
                    this.element.show();
                    }
                    });
                    })( jQuery );
                    $(function() {
                    $( "#combobox" ).combobox();
                    $( "#toggle" ).click(function() {
                    $( "#combobox" ).toggle();
                    });
                    });
                </script>


{% endblock %}